@tailwind base;
@tailwind components;
@tailwind utilities;


dialog::backdrop{
    background:rgb(168, 180, 185);
    opacity: .7;
    @apply dark:bg-slate-700
}

dialog{
    background-color: inherit;
}

input,select,div,button,dialog{
    @apply outline-none;
}


input,.select{
    @apply p-2 border-blue-100 border rounded-lg
    focus:border-blue-200 focus:ring-1 w-full;
}

label{
    @apply font-semibold
}

option{
    @apply bg-blue-200 hover:bg-blue-100 
}

.simple-button{
    @apply bg-cyan-200 px-3 py-2 rounded-2xl shadow-lg font-semibold dark:bg-cyan-500
}
select.simple-button option{
    @apply bg-cyan-100 dark:bg-cyan-300
}

form select,input{
    @apply dark:text-black
}

.control-button{
    @apply bg-white h-8 w-8 rounded flex items-center justify-center dark:text-black
}

.todo_item{
    @apply opacity-100
}